#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-grey);
  color: var(--dark-grey);
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--dark-grey);
}

p {
  max-width: 900px;
  font-size: 1.3rem;
  font-weight: bold;
}

.goals,
.our-values {
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-blue);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: var(--primary-grey);
  gap: 0.5rem;
  text-align: center;
  transition: 0.4s ease-in-out;
  box-shadow: var(--primary-blue) 0 0 10px 5px;
  filter: blur(2px);
}

.card:hover {
  filter: blur(0);
}

.card h3 {
  color: var(--primary-grey);
  font-size: 1.5rem;
}

h3 span {
  color: var(--green);
}

.card p {
  letter-spacing: 1px;
  max-width: 600px;
}

h3 {
  font-size: 2rem;
}

.projects-description {
  padding: 2rem 5rem;
  box-shadow: var(--primary-blue) 0 0 10px 5px;
}
