footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #080808;
  color: var(--primary-grey);
}

footer h3 {
  margin-bottom: 2rem;
  border-bottom: 1px solid;
}

.main-footer {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.main-footer > div {
  width: 20%;
}

.menu-footer li {
  margin-bottom: .6rem;
}

.menu-footer li a {
  color: var(--primary-grey);
  padding: 0;
}

.contact-footer ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.social-medias ul {
  display: flex;
  gap: 1rem;
}

.social-medias ul li {
  font-size: 1.5rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: .5s all;
  cursor: pointer;
}

.social-medias ul li:first-child {
  color: rgb(0, 128, 255);
}

.social-medias ul li:last-child {
  color: rgb(3, 0, 163);
}

.social-medias ul li:nth-child(2) {
  color: rgb(183, 0, 255);
}

.social-medias ul li:nth-child(3) {
  color: rgb(0, 72, 255);
}

.social-medias ul li:hover {
  scale: 1.1;
}

.license {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.license ul {
  display: flex;
  gap: 2rem;
}

.license li {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 975px) {
  .main-footer {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .main-footer > div {
    width: 80%;
    margin-bottom: 2rem;
  }

  .license {
    flex-direction: column;
  }

  .license p {
    font-size: 1.2rem;
  }

  .license ul {
    flex-direction: column;
  }
}
