#members {
  display: flex;
  align-items: center;
}

#members .info {
  max-width: 60%;
  padding: 1.5rem;
  text-align: center;
  height: 100vh;
}

.info img {
  max-width: 100vh;
}

.info h2 {
  font-size: 3rem;
  color: rgb(25, 25, 87);
  color: #222;
}

.management {
  background-color: rgb(25, 25, 87);
  min-width: 40%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f2f2f2;
}

.management > div {
  width: 60%;
  box-shadow: #f2f2f262 0 0 10px 5px;
  height: 200px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  transition: 0.4s ease-in-out;
  opacity: 0.7;
  background-color: #f2f2f2;
  background-position: center;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.management .query-management {
  background-image: url("../../img/consulta.svg");
}

.management .medication {
  background-image: url("../../img/medications.svg");
}

.management .exams {
  background-image: url("../../img/exams.svg");
}

.management > div:hover h3,
.management > div:hover .btn-login {
  opacity: 1;
}

.management > div:hover {
  opacity: 1;
  scale: 1.1;
}

.management > div h3 {
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.management > div i {
  align-self: flex-start;
  font-size: 3rem;
}

.management > div a {
  align-self: flex-start;
  opacity: 0;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

@media (max-width: 975px) {
  #members {
    flex-direction: column;
    min-height: 100vh;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 40%;
    justify-content: center;
    min-width: 100vw;
  }

  .info h2 {
    font-size: 2.3rem;
    max-width: 80%;
    z-index: 1;
  }

  .info img {
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  .management {
    min-height: 50vh;
    min-width: 100%;
    gap: 1rem;
  }

  .management > div {
    width: 80%;
    font-size: 1rem;
  }

  .management > div i {
    font-size: 1.5rem;
  }

  .management > div a {
    font-size: 0.8rem;
  }
}
